body {
    background-color: beige;
}

.statement {
    background-color: blue;
    border: 2px solid black;
}

.volunteer {
    background-color: green;
    border: 2px solid black;
}

.image {
    background-color: blueviolet;
    border: 2px solid black;
}

.pic {
    max-width: 20%;
}

.eventB {
    background-color: gold;
    border: 2px solid black;
}